/* Full-screen loader wrapper */
.loader-wrapper {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  height: 100vh;            /* full viewport height */
  width: 100vw;
  background: linear-gradient(135deg, #555555, #aaaaaa); /* grey gradient */
  flex-direction: column;
}

/* Buzzer loader text */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 
    0 0 0 rgb(255 0 0), 
    0 0 0 rgb(0 255 0), 
    0 0 0 rgb(0 0 255);
  font-size: 30px;
  animation: l32 1s infinite cubic-bezier(0.5,-2000,0.5,2000);
}

.loader:before {
  content: "Thalvor";
}

/* Buzzer animation */
@keyframes l32 {
  25%, 100% {
    text-shadow: 
      0.03px -0.01px 0.01px rgb(255 0 0), 
      0.02px  0.02px 0     rgb(0 255 0), 
     -0.02px  0.02px 0     rgb(0 0 255);
  }
}
