.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
    to right top,
    rgba(39, 41, 36, 0.6),
    rgba(35, 40, 38, 0.5),
    rgba(34, 37, 38, 0.4),
    rgba(34, 35, 36, 0.4),
    rgba(33, 33, 33, 0.5)
    ), url('../../assets/hero.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
}

.hero-text {
    text-align: center;
    max-width: 800px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
}

.hero-text h3 {
    max-width: 700;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.btn img {
    width: 25px;
    margin-left: 10px;
}

/* Media Query */

@media (max-width: 450px) {
    .hero-text h1 {
        font-size: 50px;
    }
}