.portfolio-contain {
    background: linear-gradient(
    to right top,
    rgba(39, 41, 36, 1.0),
    rgba(35, 40, 38, 0.9),
    rgba(34, 37, 38, 0.8),
    rgba(34, 35, 36, 0.8),
    rgba(33, 33, 33, 0.9)
    ), url('../../assets/portfolio.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.portfolio-contain .portfolio {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 40px;
  padding: 50px;
  margin-left: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.center {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 30px;
}

.section h3 {
  font-size: 18px;
  letter-spacing: 1px;
  color: #94a3b8;
  margin-bottom: 15px;
}

.text {
  font-size: 14px;
  line-height: 1.6;
  color: #cbd5f5;
}

/* SKILLS */
.skill {
  margin-bottom: 12px;
}

.skill span {
  font-size: 14px;
}

.bar {
  width: 100%;
  height: 4px;
  background: #fff;
  margin-top: 6px;
}

.fill {
  height: 100%;
  background: #38bdf8;
}

/* TIMELINE */
.timeline {
  display: flex;
  gap: 15px;
  margin-bottom: 18px;
}

.year {
  color: #38bdf8;
  font-weight: bold;
  font-size: 14px;
}

.timeline h4 {
  font-size: 15px;
  margin: 0;
}

.timeline p {
  font-size: 14px;
  color: #94a3b8;
}

/* LISTS */
.list {
  list-style: none;
  padding: 0;
}

.list li {
  font-size: 14px;
  margin-bottom: 8px;
}

/* ICONS */
.icons {
  display: flex;
  gap: 15px;
  font-size: 22px;
}


@media (max-width: 900px) {
    .portfolio-contain {
        background: none;
    }
  .portfolio-contain .portfolio {
    grid-template-columns: 1fr;
  }
  .center {
    border: none;
    padding: 0;
  }
}

@media (max-width: 900px) {
    .portfolio-contain .portfolio {
      margin-left: 0;
    }
}