.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.about-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-text p{
    margin: 20px;
}

.about-text h2 {
    margin-bottom: 25px;
    color: #38bdf8;
    font-size: 3rem;
}

.about-profile {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-profile img {
    width: 350px;
    border: 5px solid #38bdf8;
    border-radius: 50%;
    margin-left: 30px;
}

.about-profile p {
    margin-top: 30px;
    margin-left: 30px;
    color: #38bdf8;
    font-size: larger;
}

/* Media Query */

@media (max-width: 960px) {
    .about {
        flex-direction: column;
        margin-top: 50px;
    }

    .about-text {
        width: 100%;
    }

    .about-text h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .about-text p {
        font-size: 15px;
    }

    .about-profile {
        width: 100%;
    }

    .about-profile img {
        width: 200px;
        margin-left: 0;
    }

    .about-profile p {
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 10px;
    }
}