.contact {
    width: 100%;
    min-height: 100vh;
    margin-top: 80px;
}

.contact .contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact-header h2 {
    font-size: 2.5rem;
    color: #38bdf8;
}

.contact .contact-body {
    margin: 35px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 48%;
}

.contact-col h3 {
    color: #38bdf8;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 30px;
}

.contact-col p {
    max-width: 450px;
    line-height: 1.3;
}

.contact-col ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-col form input, .contact-col form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: 2px solid #38bdf8;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.contact-col span {
    display: block;
    margin: 10px 0;
}

/* Media Query */

@media (max-width: 850px) {
    .contact .contact-header h2 {
        font-size: 2rem;
    }

    .contact-body {
        flex-direction: column;
    }

    .contact-col h3 {
        font-size: 20px;
    }
}