nav {
    width: 100%;
    /* background: black; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    width: 150px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 17px;
}

.nav-container {
    padding-left: 5%;
    padding-right: 5%;
}

.dark-nav {
    background: rgba(15, 23, 42, 0.6);
    transition: 0.5s;
}

.menu-icon {
    display: none;
}

/* Media Query */

@media (max-width: 1020px) {
    .nav-container {
        padding-left: 2%;
        padding-right: 2%;
    }

    .logo {
        width: 130px;
    }

    nav ul li {
        margin: 10px 15px;
    }

}

@media (max-width: 905px) {
    nav {
        padding: 15px 0;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(68, 65, 65);
        z-index: -1;
        width: 220px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px 35px;
    }

    .menu-icon {
        display: block;
        width: 40px;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
    }

    .hide-menu-icon {
        right: -220px;
    }
    
}