.footer {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #38bdf8;
    padding: 15px 0;
}

.footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

@media (max-width: 850) {
    .footer ul li {
        margin-left: 10px;
        font-size: 8px;
    }

    .footer p {
        font-size: 8px;
    }
}