.coming-soon {
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle, #2e3032, #33393b, #394241, #424b45, #505348);
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    .coming-soon {
        font-size: 2.5rem;
    }
}